{% extends 'base.html.twig' %}

{% block title %}Producten index{% endblock %}

{% block body %}
    <h1>Producten index</h1>

    <div>
    <table class="table">
        <thead>
            <tr>
                <th>naam</th>
                <th>omschrijving</th>
                <th>prijs</th>
            </tr>
        </thead>
        <tbody>
        {% for producten in productens %}
            <tr>
                <td>{{ producten.naam }}</td>
                <td>{{ producten.omschrijving }}</td>
                <td>{{ producten.prijs }},-</td>
        <thead>
            <tr>
                <th>Sub naam</th>
                <th>Sub omschrijving</th>
            </tr>
        </thead>
            {% for sub_producten in sub_productens %}
                {% if producten.naam == sub_producten.ProductLink %}
                <tr>
                    <td>{{ sub_producten.naam }} </td>
                    <td>{{ sub_producten.omschrijving }}</td>
                </tr>
                {% endif %}
            {% endfor %}
                <td>
                    <a href="{{ path('producten_show', {'id': producten.id}) }}">show</a>
                    <a href="{{ path('producten_edit', {'id': producten.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('producten_new') }}">Create new</a>
{% endblock %}